<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style/search.css') }}">
    <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>
<body>
    <div class="nav">
        {% if login_token is none %}
        <div class="user">
            <div class="welcome_message">
                Hello guest user!
            </div>
            <div class="button_group">
                <a href="{{url_for('sign_in')}}"><button class="nav_char">Sign in</button></a>
                <a href="{{url_for('sign_up')}}"><button class="nav_char">Sign up</button></a>
            </div>
        </div>
        {% else %}
        <div class="user">
            <div class="welcome_message">
                Welcome! {{username}}
            </div>
            <div class="button_group">
                <a href="{{url_for('sign_out')}}" ><button class="nav_char">Sign out</button></a>
                <a href="{{url_for('account')}}" ><button class="nav_char">Profile</button></a>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="flexbox">
        <div class="title">
            <img src="{{ url_for('static', filename='index.jpeg') }}" alt="" width="400px" height="320px">
        </div> <br>
        <div class="searchbox">
            <form action="{{ url_for('result') }}" method="post" class ="searchform">
                <div class="search">
                    <div>
                    <input type="text" name="searchkey" placeholder="Search . . ." required>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>